/* ----------------------------------------------------------------------
	Default Color HEX Code: #26B8F3

    Replace #26B8F3 with your desired color code

    More color codes: http://www.color-hex.com/color-names.html
-------------------------------------------------------------------------*/

::selection {
  background: #26B8F3; }

::-moz-selection {
  background: #26B8F3; }

::-webkit-selection {
  background: #26B8F3; }

a:hover,
a:focus,
a:active,
#mainMenu nav > ul > li.hover-active > a,
#mainMenu nav > ul > li.hover-active > span,
#mainMenu nav > ul > li.current > a,
#mainMenu nav > ul > li.current > span,
#mainMenu nav > ul > li:hover > a,
#mainMenu nav > ul > li:hover > span,
#mainMenu nav > ul > li:focus > a,
#mainMenu nav > ul > li:focus > span,
#mainMenu nav > ul > li .dropdown-menu > li > a:focus,
#mainMenu nav > ul > li .dropdown-menu > li > a:hover,
#mainMenu nav > ul > li .dropdown-menu > li > a:active,
#mainMenu nav > ul > li .dropdown-menu > li > span:focus,
#mainMenu nav > ul > li .dropdown-menu > li > span:hover,
#mainMenu nav > ul > li .dropdown-menu > li > span:active,
#mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:focus,
#mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:hover,
#mainMenu nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:active,
#mainMenu nav > ul > li .dropdown-menu > li.current > a,
#mainMenu nav > ul > li .dropdown-menu > li.current > span,
#mainMenu nav > ul > li .dropdown-menu > li:hover > a,
#mainMenu nav > ul > li .dropdown-menu > li:hover > span,
#mainMenu nav > ul > li .dropdown-menu > li:focus > a,
#mainMenu nav > ul > li .dropdown-menu > li:focus > span,
#mainMenu nav > ul > li .dropdown-menu > li:active > a,
#mainMenu nav > ul > li .dropdown-menu > li:active > span,
#mainMenu nav > ul > li .dropdown-menu > li.hover-active > a,
#mainMenu nav > ul > li .dropdown-menu > li.hover-active > span,
#mainMenu.menu-outline nav > ul > li.current > a,
#mainMenu.menu-outline nav > ul > li:hover > a,
#mainMenu.menu-outline nav > ul > li:focus > a,
#mainMenu.menu-lines nav > ul > li.current > a,
#mainMenu.menu-lines nav > ul > li:hover > a,
#mainMenu.menu-lines nav > ul > li:focus > a,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li > a:hover,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li > span:hover,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:hover,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li > a:hover,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li > span:hover,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li .dropdown-menu > li [class*="col-"] > ul > li > a:hover,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li.current > a,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li.current > span,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li:hover > a,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li:hover > span,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li:focus > a,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li:focus > span,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li.hover-active > a,
.dark #mainMenu:not(.light):not(.menu-rounded) nav > ul > li.hover-active > span,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.current > a,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.current > span,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:hover > a,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:hover > span,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:focus > a,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li:focus > span,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.hover-active > a,
#mainMenu.dark:not(.light):not(.menu-rounded) nav > ul > li.hover-active > span,
.page-menu.menu-outline nav li:hover a,
.page-menu.menu-outline nav li.active a,
.page-menu.menu-lines nav li:hover a,
.page-menu.menu-lines nav li.active a,
.page-menu.menu-default nav li:hover a,
.page-menu.menu-default nav li.active a,
.page-menu.menu-colored-background nav li:hover a,
.page-menu.menu-colored-background nav li.active a,
.page-menu.inverted li:hover a,
.page-menu.inverted li.active a,
.grid-filter.gf-outline li:hover a,
.grid-filter.gf-outline li.active a,
.grid-filter.gf-lines li:hover a,
.grid-filter.gf-lines li.active a,
.grid-filter.gf-default li:hover a,
.grid-filter.gf-default li.active a,
.post-item .post-quote-img .post-meta-category,
.post-item .post-quote-img .post-meta-category a,
.post-author a,
.comments .comment_number span,
.comments .comment .text .comment-reply-link,
.respond-comment span,
.btn.btn-outline,
.heading-creative strong,
.simple .tabs-navigation li.active a,
.simple .tabs-navigation li.active a:focus,
.simple .tabs-navigation li a:hover,
.feature-box:hover h2,
.feature-box:hover h3,
.feature-box:hover h4,
.list-icon.list-icon-colored li:before,
.list-icon.list-icon-colored i,
.pagination.pagination-simple .active > a,
.pagination.pagination-simple .active > span,
.pagination.pagination-simple .active > a:hover,
.pagination.pagination-simple .active > span:hover,
.pagination.pagination-simple .active > a:focus,
.pagination.pagination-simple .active > span:focus,
.post-navigation a:hover,
.call-to-action h3 span,
.item-link,
.item-link:hover,
.widget-tweeter li a,
.widget-twitter li a {
  color: #26B8F3; }

#topbar.topbar-colored,
#topbar.topbar-colored.dark,
#header.header-colored #header-wrap,
#header.header-modern:not(.header-active).header-colored #header-wrap,
#mainMenu.menu-rounded nav > ul > li.current > a,
#mainMenu.menu-rounded nav > ul > li:hover > a,
#mainMenu.menu-rounded nav > ul > li:focus > a,
#mainMenu.menu-lines nav > ul > li.current > a:after,
#mainMenu.menu-lines nav > ul > li:hover > a:after,
#mainMenu.menu-lines nav > ul > li:focus > a:after,
#mainMenu.menu-hover-background nav > ul > li.current,
#mainMenu.menu-hover-background nav > ul > li:hover,
#mainMenu.menu-hover-background nav > ul > li:focus,
#dotsMenu ul li:hover,
#dotsMenu ul li.current,
#dotsMenu ul li a:hover:before,
#dotsMenu ul li a.active:before,
.page-menu.menu-lines nav li:hover a:after,
.page-menu.menu-lines nav li.active a:after,
.page-menu.menu-classic nav li:hover a,
.page-menu.menu-classic nav li.active a,
.page-menu.menu-colored-background,
.grid-filter li:hover a,
.grid-filter li.active a,
.grid-filter.gf-lines li:hover a:after,
.grid-filter.gf-lines li.active a:after,
.grid-filter.gf-classic li:hover a,
.grid-filter.gf-classic li.active a,
.portfolio-item .portfolio-description a:hover i,
.portfolio-item .grid-description a:hover i,
.grid-item .portfolio-description a:hover i,
.grid-item .grid-description a:hover i,
.post-item.quote .post-item-wrap,
.post-item .post-image .post-meta-category,
.post-item .post-slider .post-meta-category,
.post-item .post-video .post-meta-category,
.post-item .post-audio .post-meta-category,
.post-item .post-quote-img .post-meta-category,
.forum thead tr > th,
.btn,
.btn.btn-outline:hover,
.btn.btn-outline:focus,
.btn.btn-outline:active,
.btn.btn-outline.active,
.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light.active,
.btn.btn-dark:hover,
.btn.btn-dark:focus,
.btn.btn-dark:active,
.btn.btn-dark.active,
.icon-box.effect.dark .icon i:hover,
.icon-box.effect.dark:hover .icon i,
.owl-carousel .owl-nav [class*="owl-"]:hover,
.owl-carousel.arrows-creative .owl-nav [class*="owl-"]:hover,
.dropcap.dropcap-colored,
.highlight.highlight-colored,
.progress-bar,
.blockquote-color,
.call-to-action.call-to-action-colored,
.modal-strip,
.pricing-table.colored .plan-header,
.single9:before,
.background-colored,
#scrollTop:after, #scrollTop:before,
.tags a.active, .tags a:active, .tags a:focus, .tags a:hover {
  background-color: #26B8F3; }

#header .header-extras #shopping-cart > a .shopping-cart-items,
.text-box.text-box-light:hover,
.mfp-ajax-holder .mfp-close:hover,
.spinner .bar:after,
.ball-grid-pulse > div,
.loader01:after,
.square-spin > div,
.loader04:after,
.ball-rotate > div,
.ball-rotate > div:after,
.ball-rotate > div:before,
.cube-transition > div,
.ball-zig-zag > div,
.ball-triangle-path > div,
.line-scale > div,
.ball-scale-multiple > div,
.ball-pulse-sync > div,
.ball-beat > div,
.line-scale-pulse-out-rapid > div,
.ball-spin-fade-loader > div,
.line-spin-fade-loader > div,
.pacman > div:nth-child(3),
.pacman > div:nth-child(4),
.pacman > div:nth-child(5),
.pacman > div:nth-child(6),
.ball-grid-beat > div,
.spinner .bar:after,
.border .tabs-navigation li.active a:after,
.color .tabs-navigation li.active a {
  background: #26B8F3; }

#mainMenu.menu-outline nav > ul > li.current > a,
#mainMenu.menu-outline nav > ul > li:hover > a,
#mainMenu.menu-outline nav > ul > li:focus > a,
.page-menu.menu-outline nav li:hover a,
.page-menu.menu-outline nav li.active a,
.grid-filter.gf-outline li:hover a,
.grid-filter.gf-outline li.active a,
.btn,
.btn.btn-outline:not(.btn-dark):not(.btn-light),
.btn.btn-outline:not(.btn-dark):not(.btn-light):hover,
.btn.btn-outline:not(.btn-dark):not(.btn-light):focus,
.btn.btn-outline:not(.btn-dark):not(.btn-light):active,
.btn.btn-outline:not(.btn-dark):not(.btn-light).active,
.btn.btn-light:not(.btn-outline):not(.btn-icon-holder):hover,
.btn.btn-light:not(.btn-outline):not(.btn-icon-holder):focus,
.btn.btn-light:not(.btn-outline):not(.btn-icon-holder):active,
.btn.btn-light:not(.btn-outline):not(.btn-icon-holder).active,
.btn.btn-dark:not(.btn-outline):not(.btn-icon-holder):hover,
.btn.btn-dark:not(.btn-outline):not(.btn-icon-holder):focus,
.btn.btn-dark:not(.btn-outline):not(.btn-icon-holder):active,
.btn.btn-dark:not(.btn-outline):not(.btn-icon-holder).active,
.simple .tabs-navigation li.active a,
.simple .tabs-navigation li.active a:focus,
.simple .tabs-navigation li a:hover,
.owl-carousel .owl-nav [class*="owl-"]:hover,
.spinner .bar,
.ball-scale-ripple-multiple > div,
.spinner .bar,
.tags a.active, .tags a:active, .tags a:focus, .tags a:hover {
  border-color: #26B8F3; }

.portfolio-item .portfolio-description a:hover i,
.portfolio-item .grid-description a:hover i,
.grid-item .portfolio-description a:hover i,
.grid-item .grid-description a:hover i {
  border: 1px solid #26B8F3; }

.btn.btn-icon-holder.btn-outline:before {
  border-left: 2px solid #26B8F3; }

.fancy-title.title-border-color:before {
  border-top: 1px solid #26B8F3; }

.icon-box.effect.dark .icon i:after {
  box-shadow: 0 0 0 3px #26B8F3; }

blockquote {
  border-left: 3px solid #26B8F3; }

.loader01,
.pacman > div:first-of-type,
.pacman > div:nth-child(2) {
  border-color: #26B8F3 transparent #26B8F3 #26B8F3; }

.bootstrap-datetimepicker-widget table td.active.today,
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget .datepicker-decades .decade {
  background-color: #26B8F3 !important; }

.btn:hover, .btn:focus, .btn:active, .btn.active {
  background-color: #26B8F3;
  border-color: #26B8F3; }


.heading-text.heading-gradient h2 > * {
  background: radial-gradient(circle at left top, #4b72ff 9%, #26B8F3 48%, #6442ff 91%); }

.heading-text.heading-section > h2:before {
  background-color: #26B8F3;
 }
 .background-primary{
  background-color: #26B8F3 !important;
 }

#header.header-modern:not(.header-active).header-colored #header-wrap {
  background-color: #26B8F3; }
#header.header-colored .header-inner,
#header.header-colored #header-wrap {
background-color: #ffffff; }

a:not(.btn):active, a:not(.btn):focus, a:not(.btn):hover{
  color: rgb(255, 255, 255) !important; 
}

a.btn:not([href]):not([tabindex]),
.btn {
  background-color: #26B8F3;
  border-color: #26B8F3;
  color: #fff; }
  a.btn:not([href]):not([tabindex]):hover, 
  a.btn:not([href]):not([tabindex]):focus, 
  a.btn:not([href]):not([tabindex]):not(:disabled):not(.disabled):active, 
  a.btn:not([href]):not([tabindex]):not(:disabled):not(.disabled).active,
  .btn:hover,
  .btn:focus,
  .btn:not(:disabled):not(.disabled):active,
  .btn:not(:disabled):not(.disabled).active {
    background-color: #26B8F3;
    border-color: #fff;
    color: #fff; }
  a.btn:not([href]):not([tabindex]).btn-outline,
  .btn.btn-outline {
    background-color: transparent;
    border-color: #26B8F3;
    color: #26B8F3; }
    a.btn:not([href]):not([tabindex]).btn-outline:hover, a.btn:not([href]):not([tabindex]).btn-outline:focus, a.btn:not([href]):not([tabindex]).btn-outline:active, a.btn:not([href]):not([tabindex]).btn-outline.active,
    .btn.btn-outline:hover,
    .btn.btn-outline:focus,
    .btn.btn-outline:active,
    .btn.btn-outline.active {
      background-color: #26B8F3;
      border-width: 2px;
      border-style: solid;
      border-color: #26B8F3;
      color: #fff; }

a.btn:not([href]):not([tabindex]).btn-light,
  .btn.btn-light {
    background-color: #ffffff;
    border-color: #ebebeb;
    color: #4c5667; }

    a.btn:not([href]):not([tabindex]).btn-light:hover, a.btn:not([href]):not([tabindex]).btn-light:focus, a.btn:not([href]):not([tabindex]).btn-light:active, a.btn:not([href]):not([tabindex]).btn-light.active,
    .btn.btn-light:hover,
    .btn.btn-light:focus,
    .btn.btn-light:active,
    .btn.btn-light.active {
      border-color: #26B8F3;
      background-color: #f4f5f8;
      color: #4c5667; }
    a.btn:not([href]):not([tabindex]).btn-light.btn-outline,
    .btn.btn-light.btn-outline {
      border-color: #ffffff;
      background-color: transparent;
      color: #26B8F3; }
      a.btn:not([href]):not([tabindex]).btn-light.btn-outline:hover, a.btn:not([href]):not([tabindex]).btn-light.btn-outline:focus, a.btn:not([href]):not([tabindex]).btn-light.btn-outline:active, a.btn:not([href]):not([tabindex]).btn-light.btn-outline.active,
      .btn.btn-light.btn-outline:hover,
      .btn.btn-light.btn-outline:focus,
      .btn.btn-light.btn-outline:active,
      .btn.btn-light.btn-outline.active {
        background-color: #ffffff;
        color: #4c5667; }
    a.btn:not([href]):not([tabindex]).btn-light.btn-light-hover:hover, a.btn:not([href]):not([tabindex]).btn-light.btn-light-hover:focus, a.btn:not([href]):not([tabindex]).btn-light.btn-light-hover:active, a.btn:not([href]):not([tabindex]).btn-light.btn-light-hover.active,
    .btn.btn-light.btn-light-hover:hover,
    .btn.btn-light.btn-light-hover:focus,
    .btn.btn-light.btn-light-hover:active,
    .btn.btn-light.btn-light-hover.active {
      background-color: #ffffff;
      border-color: #ebebeb;
      color: #4c5667; }


.detalle{
  border: 0;
  background: none;
  color: #4c5667;
}

.disgn{
  border: 2px linen #4c5667;
}

.color-celeste{
  background: #00c0e9;
}
.sombra{
  box-shadow: 5px 5px 50px 0 rgba(0,0,0,.3)!important
}

@media (min-width: 1px) and (max-width: 991px){
  .inicio {
    max-width: 780px !important; 
  }
  .heading-text.heading-section > h2{
    font-size: 40px;
    word-break: break-word;

  }
}



li.signIn a {
  display: none !important;
}
.li.signUp a {
  display: none !important;
}

@media (max-width: 992px){

.li.signUp a {
  display: flex !important;
}
.li.signIn a{
  display: flex !important;
}
}

select.form-control:not([size]):not([multiple]){
  background: #00c0e9;
}





